 <!-- Control Sidebar Container -->
<aside class="control-sidebar control-sidebar-light">
    <!-- Control sidebar content goes here -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link aside-menu-toggler" data-widget="control-sidebar">
                <i class="fas fa-times"></i>
            </a>
        </li>
    </ul>
    <div class="superdiv control-sidebar-content">
        <!-- Content of the sidebar goes here -->
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link aside-menu-toggler" data-widget="control-sidebar">
                <i class="fas fa-times"></i>
            </a>
        </li>
    </ul>
</aside>
