 <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="~/adminlte/dist/img/Logo_original2.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">DEMO</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      
        <div class="info">
            <span id="username" class="badge badge-primary">User</span>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li id="ColaboradorView" class="nav-item has-treeview menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        ADMIN
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li id="ColList" class="nav-item">
                        <a href="@Url.Action("Index", "Employee")" class="nav-link">
                            <i class="fa fa-indent nav-icon"></i>
                            <p>Colaboradores</p>
                        </a>
                    </li>
                    <li id="DeviceList" class="nav-item">

                        <a href="@Url.Action("Index", "Device")" class="nav-link">
                            <i class="fa fa-exchange-alt nav-icon"></i>
                            <p>Dispositivos</p>
                        </a>
                    </li>
                    <li id="NewEmployee" class="nav-item">
                        <a href="@Url.Action("Create", "Employee")" class="nav-link">
                            <i class="fa fa-indent nav-icon"></i>
                            <p>Nuevo Colaborador</p>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
